<%= form_for(@appointment) do |f| %>

  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@appointment.errors.count, "error") %> prohibited
        this appointment from being saved:
      </h2>
      <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="offset-md-3 col-md-6 regular-box">
    <div class="title-box"><h1 class="title text-center">New Appointment</h1></div>
    <div class="row">
      <div class="offset-md-3 col-md-6 col-xs-10 col-xs-offset-1">
        <div class="form-group">
          <%= f.label :customer_name %>
          <%= f.text_field :customer_name, class: 'form-control' %>
          <small id="emailHelp" class="form-text text-muted">e.g., John Doe</small>
        </div>
        <div class="fields">
          <div class="form-group">
            <%= f.label :appointment_time %>
            <%= f.text_field :appointment_time, class: 'form-control', id: 'app_date_time' %>
          </div>
          <%= f.fields_for :services do |ff| %>
            <%= render 'service', f: ff %>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= link_to_add_row('Add Service', f, :services, class: 'btn btn-primary btn-sm btn-block') %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.submit 'Book Appointment', class: 'btn btn-outline-primary btn-block' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
